# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers des dépendances locales (yarn/npm)
package-lock.json
yarn.lock

# Ignorer les fichiers de logs
npm-debug.log*
yarn-error.log

# Ignorer les fichiers de l'éditeur
.vscode/
.idea/

# Ignorer les builds et les fichiers temporaires
dist/
build/
.DS_Store
.env
